a:link
	{
	color : #003366;
	text-decoration : underline;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}
 
a:visited
	{
	color : #003366;
	text-decoration : underline;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}

a:active
	{
	color : #FF0000;
	text-decoration : underline;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}

a:hover
	{
	color :#FF0000;
	text-decoration : underline;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;	
}

body{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16pt;
	margin-left: 12pt;
	margin-right: 12pt;
	background-color: #ffffff;
}

table{
	border-style: solid;
    	border-width: 0 0 1px 1px;
	margin-left: 10pt;
	margin-right: 10pt;
}

th{
	border-width: 1px 1px 0 0;
   	border-style: solid;
   	font-weight: bold;	
	background-color: #D6D6D6;
}

td{
	border-width: 1px 1px 0 0;
   	border-style: solid;
   	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16pt;
	padding: 8pt;
}

tr{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:16pt;
}

pre{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16pt;
	margin-left: 12pt;
	margin-right: 12pt;
}

p{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size :16pt;
	margin-left :12pt;
	margin-right:12pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
}

ul ol{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16pt;
	margin-left: 12pt;
	margin-right: 12pt;
}

li{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 16pt;
	margin-left: 12pt;
	margin-right: 12pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
}

h1{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 20pt;
	color: #000;
	font-weight: bold;
	/*font-style: normal;
	background-color: #D20000;
	text-align: center;*/
	margin-left: 12pt;
	margin-right: 12pt;
	margin-top: 12pt;
}

h2{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 18pt;
	font-weight: bold;
	color: #000000;
	margin-left: 12pt;
	margin-right: 12pt;
}

h3{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 16pt;
	font-weight : bold;
	color : #000000;	 
	margin-left :12pt;
	margin-right :12pt;
}

/* h4{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12pt;
	color : #000000;
	font-weight : bold;
	font-style : italic;
	margin-left :12pt;
	margin-right :12pt;
}

h5{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12pt;
	color : #000000;
	font-weight : bold;
	margin-left :12pt;
	margin-right :12pt;
} */

#container{
	width: 100%
}

/*.floatimage{
	display: block;
   	margin-left: auto;
   	margin-right: auto;
	margin-top: 30px;
	float: right;
}*/


