a:link
	{
	color : #003366;
	text-decoration : underline;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}
 
a:visited
	{
	color : #003366;
	text-decoration : underline;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}

a:active
	{
	color : #FF0000;
	text-decoration : underline;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}

a:hover
	{
	color :#FF0000;
	text-decoration : underline;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;	
}



body{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size :14pt;
	margin-left :12pt;
	margin-right :12pt;
	background-color :efebe7;
}

table{
	margin-left: 10pt;
	margin-right: 10pt;
}

td{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size :14pt;
	padding: 8pt;
}

tr{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size :14pt;
}

pre{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size :14pt;
	margin-left :12pt;
	margin-right :12pt;
}

p{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size :14pt;
	margin-left :12pt;
	margin-right :12pt;
/*	margin-top :12pt;
	margin-bottom :12pt;*/
}

ul{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size :14pt;
	margin-left :12pt;
	margin-right :12pt;
/*	margin-bottom:5pt;
	margin-left:15pt;*/
}
li{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size :14pt;
	margin-left :12pt;
	margin-right :12pt;
/*	margin-left:20pt;
	margin-bottom :10pt;*/
}
h1{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 18pt;
	color : #FFFFFF;
	font-weight : bold;
	font-style : normal;
	background-color : #D20000;
	text-align : center;
	margin-left :12pt;
	margin-right :12pt;
}

h2{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 16pt;
	font-weight : bold;
	color : #000000;
	margin-left :12pt;
	margin-right :12pt;
}
h3{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12pt;
	font-weight : bold;
	color : #000000;	 
	margin-left :12pt;
	margin-right :12pt;
}

h4{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12pt;
	color : #000000;
	font-weight : bold;
	font-style : italic;
	margin-left :12pt;
	margin-right :12pt;
}
h5{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12pt;
	color : #000000;
	font-weight : bold;
	margin-left :12pt;
	margin-right :12pt;
}
